ul li:first-child {
  font-weight: bold;
}

a:last-child {
  color: red;
}

input:disabled {
  background-color: #ccc;
}

div p {
  font-size: 16px;
}

div > p {
  font-weight: bold;
}

a[href^="https"] {
  color: green;
}

input[type="text"] {
  border: 1px solid blue;
}

li:first-child,
li:last-child {
  font-size: 24px;
}

input:checked {
  background-color: lightblue;
}

li > a {
  text-decoration: underline;
}

li:nth-child(even) {
  font-weight: bold;
}

input[type="text"]:not(:disabled) {
  background-color: #e0e0e0; /* світло-сірий */
}

p:first-child {
  font-size: 24px;
}

.special + li {
  text-decoration: line-through;
}

p::first-letter {
  font-size: 36px;
}

a::after {
  content: "↗";
}
